html, body {
	height:100%;
	margin: 0;
	overflow: hidden;
}

body {

	text-align: center;
	background-color: black;
	min-height: 100%;
	color: white;
}


#remote {
	background-color: #666;
	width: 90%;
	border-radius: 30px;
	margin: 0% 5% 0;
	height: 90%;
	padding: 0;
}

#spacer {
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px;
	box-shadow: 1px 1px 1px;
	margin-right: 30px;
	margin-left: 30px;
}


.movebutton {
    width:75px;
	padding: 0px 2px;
	display: inline-block;
	border-style: outset;
	color: rgba(100, 100, 100, 1);
	text-decoration: none;
	border-radius: 10px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	font-size: 28px;
	font-weight: bold;
	background-color: #CCC;
	-moz-box-shadow: 0 10px rgba(0, 0, 0, 0.25);
	box-shadow: 0 5px rgba(0, 0, 0, 0.25);
	position: relative;
	border-width: 2px;
	border-color: #fff;
}

.movebutton:active {
  border-style: inset;
}

.button {
	padding: 0px 2px;
	display: inline-block;
	border-style: outset;
	color: rgba(100, 100, 100, 1);
	text-decoration: none;
	border-radius: 10px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	font-size: 28px;
	font-weight: bold;
	background-color: #CCC;
	-moz-box-shadow: 0 10px rgba(0, 0, 0, 0.25);
	box-shadow: 0 5px rgba(0, 0, 0, 0.25);
	position: relative;
	border-width: 2px;
	border-color: #fff;
}

.button:active {
  border-style: inset;
}

.movelabel {
	box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
	border-style: inset;
	border-width: 2px;
	border-color: #fff;
}

#label {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
	width: 12px;
	height: 12px;
	display: block;
	margin: 20px auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-indent: -99999px;
	top: 20px;
	position: relative;
	margin-bottom: 30px;
}

#label.start {

}

#label.initalizing {

}

#label.connection {
	background-color: orange;
}

#label.received {
	background-color: orange;
}

#label.processing {
	background-color: orange;
}

#label.ok {
	background-color: green;
}

#label.bad {
	background-color: red;
}

.tabreiter
{
    width: 100%;
}   
 
.tabreiter ul,
.tabreiter li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.tabreiter,
.tabreiter input[type="radio"]:checked + label
{
    position: relative;
}
 
.tabreiter li,
.tabreiter input[type="radio"] + label
{
    display: inline-block;
}
 
.tabreiter li > div,
.tabreiter input[type="radio"]
{
    position: absolute;
}
  
.tabreiter
{
    font-family: Arial, Sans-serif;
	font-size: 1em;
	font-weight: 400;
    color: rgba(80, 80, 80, 1);
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	background-color: #CCC;
}
 
.tabreiter li
{
    vertical-align: top;
}
 
.tabreiter li:first-child
{
    margin-left: 8px;
}
 
.tabreiter li > div
{
    top: 33px;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.tabreiter input[type="radio"] + label
{
    padding: 0 18px;
    margin-top: 5px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
.tabreiter input[type="radio"]:checked + label
{
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}
 
.tabreiter input[type="radio"]
{
    opacity: 0;
}
 
.tabreiter input[type="radio"] ~ div
{
    display: none;
}
 
.tabreiter input[type="radio"]:checked:not(:disabled) ~ div
{
    display: block;
}
 
.tabreiter input[type="radio"]:disabled + label
{
    opacity: .5;
    cursor: no-drop;
}

.temperature { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	color: #fff;
	font-size: 15px;
}

.temperature > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

#measure-value-temp1 {
	font-size: 15px;
	float: left;
	color: #fff;
}
#target-value-temp1 {
	font-size: 15px;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #777;
}
#measure-value-temp2{
	font-size: 15px;
	float: left;
	color: #fff;
}
#target-value-temp2{
	font-size: 15px;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #777;
}
#measure-value-bed {
	font-size: 15px;
	float: left;
	color: #fff;
}
#target-value-bed {
	font-size: 15px;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #777;
}